# -*- mode: ruby -*-
# vi: set ft=ruby :

VAGRANTFILE_API_VERSION = "2"

# Set to 'true' when testing new base box builds locally.
TEST_MODE = false
LOCAL_BOX_DIRECTORY = "file://~/Downloads/"

# Uncomment when explicitly testing VirtualBox.
PROVIDER_UNDER_TEST = "virtualbox"
NETWORK_PRIVATE_IP_PREFIX = "172.16.3."

# Uncomment when explicitly testing VMWare.
# PROVIDER_UNDER_TEST = "vmware"
# NETWORK_PRIVATE_IP_PREFIX = "192.168.3."

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
  config.ssh.insert_key = false

  # VirtualBox.
  config.vm.provider :virtualbox do |v|
    v.memory = 1024
    v.cpus = 3
    v.customize ["modifyvm", :id, "--natdnshostresolver1", "on"]
    v.customize ["modifyvm", :id, "--ioapic", "on"]
  end

  # VMware Fusion.9
  config.vm.provider :vmware_fusion do |v, override|
    v.vmx["memsize"] = 1024
    v.vmx["numvcpus"] = 3
  end

  {% for box in boxes %}
    {% set shortBoxName = box|basename|replace('-', '')|replace('.', '')  %}
  # {{ box }}
  config.vm.define "{{ shortBoxName }}" do |{{ shortBoxName }}|
    {{ shortBoxName }}.vm.hostname = "{{ shortBoxName }}"
    if not TEST_MODE
      {{ shortBoxName }}.vm.box = "{{ box }}"
    else
      {{ shortBoxName }}.vm.box = LOCAL_BOX_DIRECTORY + PROVIDER_UNDER_TEST + "-{{ shortBoxName }}.box"
    end
    {{ shortBoxName }}.vm.network :private_network, ip: NETWORK_PRIVATE_IP_PREFIX + "{{ loop.index + 1 }}"

    # Ansible.
    {{ shortBoxName }}.vm.provision "ansible" do |ansible|
      ansible.playbook = "playbook.yml"
    end
  end
  {% endfor %}

end
